Repository chas-academy/u10-business-idea-grupp-6, pull requests merged in 2021-05, with the labels that each got.

#11 Init laravel sanctum
  backend/app/Http/Kernel.php
  backend/composer.json
  backend/composer.lock
  backend/config/sanctum.php
  backend/database/migrations/2019_12_14_000001_create_personal_access_tokens_table.php
  backend/docker-compose.yml
Labels: backend, enhancement

#13 Dev user migration
  backend/app/Events/UserCreated.php
  backend/app/Listeners/AssignDefaultRole.php
  backend/app/Models/Role.php
  backend/app/Models/User.php
  backend/app/Providers/EventServiceProvider.php
  backend/database/migrations/2021_05_05_085435_create_roles_table.php
  backend/database/migrations/2021_05_05_085708_create_role_user_table.php
  backend/database/seeders/DatabaseSeeder.php
Labels: backend

#22 Dev mail verification
  backend/app/Actions/JsonApiAuth/AuthKit.php
  backend/app/Http/Controllers/JsonApiAuth/ConfirmablePasswordController.php
  backend/app/Http/Controllers/JsonApiAuth/EmailVerificationNotificationController.php
  backend/app/Http/Controllers/JsonApiAuth/Interfaces/Revoker.php
  backend/app/Http/Controllers/JsonApiAuth/LoginController.php
  backend/app/Http/Controllers/JsonApiAuth/LogoutController.php
  backend/app/Http/Controllers/JsonApiAuth/NewPasswordController.php
  backend/app/Http/Controllers/JsonApiAuth/PasswordResetLinkController.php
  backend/app/Http/Controllers/JsonApiAuth/RegisterController.php
  backend/app/Http/Controllers/JsonApiAuth/Revokers/PassportRevoker.php
  backend/app/Http/Controllers/JsonApiAuth/Revokers/RevokerFactory.php
  backend/app/Http/Controllers/JsonApiAuth/Revokers/SanctumRevoker.php
  backend/app/Http/Controllers/JsonApiAuth/Traits/HasToShowApiTokens.php
  backend/app/Http/Controllers/JsonApiAuth/VerifyEmailController.php
  backend/app/Http/Requests/JsonApiAuth/EmailVerificationRequest.php
  backend/app/Http/Requests/JsonApiAuth/LoginRequest.php
  backend/app/Http/Requests/JsonApiAuth/NewPasswordRequest.php
  backend/app/Http/Requests/JsonApiAuth/PasswordResetLinkRequest.php
  backend/app/Http/Requests/JsonApiAuth/RegisterRequest.php
  backend/app/Models/User.php
  backend/app/Notifications/JsonApiAuth/ResetPasswordNotification.php
  backend/app/Notifications/JsonApiAuth/VerifyEmailNotification.php
  backend/composer.json
  backend/composer.lock
  backend/config/json-api-auth.php
  backend/resources/lang/en/json-api-auth.php
  backend/routes/api.php
  backend/routes/json-api-auth.php
  backend/tests/Feature/JsonApiAuth/AuthenticationTest.php
  backend/tests/Feature/JsonApiAuth/EmailVerificationTest.php
  backend/tests/Feature/JsonApiAuth/PasswordConfirmationTest.php
  backend/tests/Feature/JsonApiAuth/PasswordResetTest.php
  backend/tests/Feature/JsonApiAuth/RegistrationTest.php
Labels: backend, enhancement

#16 Installed Nova
  backend/app/Nova/Resource.php
  backend/app/Nova/User.php
  backend/app/Providers/NovaServiceProvider.php
  backend/composer.json
  backend/composer.lock
  backend/config/app.php
  backend/config/nova.php
  backend/public/vendor/nova/app.css
  backend/public/vendor/nova/app.js
  backend/public/vendor/nova/manifest.js
  backend/public/vendor/nova/mix-manifest.json
  backend/public/vendor/nova/vendor.js
  backend/resources/lang/vendor/nova/en.json
  backend/resources/lang/vendor/nova/en/validation.php
  backend/resources/views/vendor/nova/partials/footer.blade.php
  backend/resources/views/vendor/nova/partials/logo.blade.php
  backend/resources/views/vendor/nova/partials/meta.blade.php
  backend/resources/views/vendor/nova/partials/user.blade.php
Labels: backend, enhancement

#17 Init scss
  frontend/.env
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/home/Home.scss
  frontend/src/components/home/HomeAPI.jsx
  frontend/src/components/home/index.jsx
  frontend/src/index.js
  frontend/src/public/components/home/Home.js
  frontend/src/shared/styling/_mixins.scss
  frontend/src/shared/styling/_variables.scss
  frontend/src/shared/styling/global.scss
Labels: frontend

#45 Dev authentication pages
  frontend/src/App.js
  frontend/src/components/already_verified/AlreadyVerified.scss
  frontend/src/components/already_verified/index.jsx
  frontend/src/components/register/index.jsx
  frontend/src/components/verified/Verified.scss
  frontend/src/components/verified/index.jsx
  frontend/src/components/verify/Verify.scss
  frontend/src/components/verify/index.jsx
Labels: frontend

#40 Dev resources and profile
  backend/app/Http/Controllers/MatchController.php
  backend/app/Http/Controllers/ProfileController.php
  backend/app/Http/Resources/GameCollection.php
  backend/app/Http/Resources/GameResource.php
  backend/app/Http/Resources/GenreCollection.php
  backend/app/Http/Resources/GenreResource.php
  backend/app/Http/Resources/LangCollection.php
  backend/app/Http/Resources/LangResource.php
  backend/app/Http/Resources/MiscCollection.php
  backend/app/Http/Resources/MiscResource.php
  backend/app/Http/Resources/PlayerTypeCollection.php
  backend/app/Http/Resources/PlayerTypeResource.php
  backend/app/Http/Resources/ProfileResource.php
  backend/app/Http/Resources/TimeCollection.php
  backend/app/Http/Resources/TimeResource.php
  backend/app/Http/Resources/UserCollection.php
  backend/app/Http/Resources/UserResource.php
  backend/app/Listeners/CreateProfile.php
  backend/app/Models/Profile.php
  backend/app/Models/User.php
  backend/app/Providers/EventServiceProvider.php
  backend/database/migrations/2021_05_12_075935_create_profiles_table.php
Labels: backend

#46 Dev preferences save toggle
  backend/app/Http/Controllers/PreferenceController.php
  backend/routes/api.php
Labels: backend, critical

#57 Add react guard
  frontend/src/App.js
  frontend/src/guard/protected_route/index.jsx
Labels: frontend

#60 Dev profile routes
  backend/app/Http/Controllers/ProfileController.php
  backend/app/Policies/ProfilePolicy.php
  backend/app/Policies/UserPolicy.php
  backend/app/Providers/AuthServiceProvider.php
  backend/app/Rules/MatchOldPassword.php
  backend/routes/api.php
Labels: backend

#59 create error handling auth, create new mixin for messages
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/home/index.jsx
  frontend/src/components/login/index.jsx
  frontend/src/components/register/index.jsx
  frontend/src/components/verify/index.jsx
  frontend/src/shared/components/button_submit/index.jsx
  frontend/src/shared/components/index.jsx
  frontend/src/shared/components/input/index.jsx
  frontend/src/shared/components/input_dropdown/index.jsx
  frontend/src/shared/components/message_error/MessageError.scss
  frontend/src/shared/components/message_error/index.jsx
  frontend/src/shared/styling/_mixins.scss
Labels: frontend

#62 Dev interactions match
  backend/app/Events/InteractionOccurance.php
  backend/app/Events/MatchupSuccessful.php
  backend/app/Http/Controllers/InteractionController.php
  backend/app/Http/Controllers/MatchController.php
  backend/app/Http/Resources/MatchupCollection.php
  backend/app/Http/Resources/MatchupResource.php
  backend/app/Listeners/CheckInteractionMatch.php
  backend/app/Models/Interaction.php
  backend/app/Models/Matchup.php
  backend/app/Models/User.php
  backend/app/Providers/EventServiceProvider.php
  backend/database/migrations/2021_05_18_071536_create_interactions_table.php
  backend/database/migrations/2021_05_18_083943_create_matchups_table.php
  backend/database/migrations/2021_05_18_091551_create_matchup_user_table.php
  backend/routes/api.php
Labels: backend, critical

#66 Fix guard bug
  frontend/src/App.js
  frontend/src/components/login/index.jsx
  frontend/src/components/register/index.jsx
Labels: frontend

#65 Dev chat matches release
  backend/.env.example
  backend/app/Events/InteractionOccurance.php
  backend/app/Events/MatchupSuccessful.php
  backend/app/Events/MsgReadEvent.php
  backend/app/Events/PrivateChatEvent.php
  backend/app/Events/SessionEvent.php
  backend/app/Http/Controllers/ChatController.php
  backend/app/Http/Controllers/InteractionController.php
  backend/app/Http/Controllers/JsonApiAuth/NewPasswordController.php
  backend/app/Http/Controllers/MatchController.php
  backend/app/Http/Controllers/MessageController.php
  backend/app/Http/Controllers/PreferenceController.php
  backend/app/Http/Controllers/SessionController.php
  backend/app/Http/Resources/ChatResource.php
  backend/app/Http/Resources/MatchupCollection.php
  backend/app/Http/Resources/MatchupResource.php
  backend/app/Http/Resources/MessageResource.php
  backend/app/Http/Resources/SessionResource.php
  backend/app/Http/Resources/UserResource.php
  backend/app/Listeners/CheckInteractionMatch.php
  backend/app/Models/Chat.php
  backend/app/Models/Interaction.php
  backend/app/Models/Matchup.php
  backend/app/Models/Message.php
  backend/app/Models/Session.php
  backend/app/Models/User.php
  backend/app/Providers/EventServiceProvider.php
  backend/composer.json
  backend/composer.lock
  backend/config/app.php
  backend/config/broadcasting.php
  backend/database/migrations/2021_05_18_071536_create_interactions_table.php
  backend/database/migrations/2021_05_18_083943_create_matchups_table.php
  backend/database/migrations/2021_05_18_091551_create_matchup_user_table.php
  backend/database/migrations/2021_05_18_185803_create_sessions_table.php
  backend/database/migrations/2021_05_18_190423_create_messages_table.php
  backend/database/migrations/2021_05_18_190955_create_chats_table.php
  backend/package-lock.json
  backend/package.json
  backend/routes/api.php
  backend/routes/channels.php
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/chat/Chat.scss
  frontend/src/components/chat/index.jsx
  frontend/src/components/chat_window/ChatWindow.scss
  frontend/src/components/chat_window/index.jsx
  frontend/src/components/home/index.jsx
  frontend/src/components/login/index.jsx
  frontend/src/components/notification/Notification.scss
  frontend/src/components/notification/index.jsx
  frontend/src/shared/services/requests.js
Labels: backend, critical, frontend

#64 Dev preferences
  backend/app/Http/Controllers/PreferencePayloadController.php
  backend/app/Http/Controllers/ProfileController.php
  backend/app/Http/Resources/LangResource.php
  backend/app/Http/Resources/PlayerTypeResource.php
  backend/database/migrations/2021_05_05_110207_create_player_types_table.php
  backend/database/migrations/2021_05_05_110214_create_langs_table.php
  backend/database/seeders/DatabaseSeeder.php
  backend/routes/api.php
  frontend/package-lock.json
  frontend/src/App.js
  frontend/src/components/login/Login.scss
  frontend/src/components/login/index.jsx
  frontend/src/components/preferences/Preferences.scss
  frontend/src/components/preferences/index.jsx
  frontend/src/components/register/Register.scss
  frontend/src/guard/protected_route/index.jsx
  frontend/src/shared/components/index.jsx
  frontend/src/shared/components/input_dropdown/InputDropdown.scss
  frontend/src/shared/components/input_dropdown/index.jsx
  frontend/src/shared/components/message_error/MessageError.scss
  frontend/src/shared/components/message_error/index.jsx
  frontend/src/shared/components/slider/Slider.scss
  frontend/src/shared/components/slider/index.jsx
  frontend/src/shared/components/switch/Switch.scss
  frontend/src/shared/components/switch/index.jsx
  frontend/src/shared/services/preferences.js
  frontend/src/shared/services/requests.js
  frontend/src/shared/styling/_breakpoints.scss
  frontend/src/shared/styling/_mixins.scss
  frontend/src/shared/styling/_variables.scss
  frontend/src/shared/styling/global.scss
Labels: frontend

#92 Remove classes, add mixins, cleanup
  frontend/src/App.js
  frontend/src/components/already_verified/AlreadyVerified.scss
  frontend/src/components/already_verified/index.jsx
  frontend/src/components/change_password/ChangePassword.scss
  frontend/src/components/change_password/index.jsx
  frontend/src/components/edit-profile/EditProfile.scss
  frontend/src/components/edit-profile/index.jsx
  frontend/src/components/home/Home.scss
  frontend/src/components/home/index.jsx
  frontend/src/components/login/Login.scss
  frontend/src/components/login/index.jsx
  frontend/src/components/match/Match.scss
  frontend/src/components/match/index.jsx
  frontend/src/components/preferences/Preferences.scss
  frontend/src/components/preferences/index.jsx
  frontend/src/components/register/Register.scss
  frontend/src/components/register/index.jsx
  frontend/src/components/verified/Verified.scss
  frontend/src/components/verified/index.jsx
  frontend/src/components/verify/Verify.scss
  frontend/src/components/verify/index.jsx
  frontend/src/shared/components/button_submit/ButtonSubmit.scss
  frontend/src/shared/components/button_submit/index.jsx
  frontend/src/shared/components/input/Input.scss
  frontend/src/shared/components/input/index.jsx
  frontend/src/shared/components/input_dropdown/InputDropdown.scss
  frontend/src/shared/components/input_password/InputPassword.scss
  frontend/src/shared/components/input_password/index.jsx
  frontend/src/shared/components/message_error/MessageError.scss
  frontend/src/shared/components/message_error/index.jsx
  frontend/src/shared/components/profile_data/ProfileData.scss
  frontend/src/shared/components/showcase/Showcase.scss
  frontend/src/shared/components/showcase/index.jsx
  frontend/src/shared/components/slider/Slider.scss
  frontend/src/shared/components/slider/index.jsx
  frontend/src/shared/components/switch/Switch.scss
  frontend/src/shared/components/switch/index.jsx
  frontend/src/shared/components/textarea/Textarea.scss
  frontend/src/shared/components/textarea/index.jsx
  frontend/src/shared/styling/_mixins.scss
  frontend/src/shared/styling/_variables.scss
Labels: frontend

#102 Add profile Link
  frontend/src/App.js
  frontend/src/components/chat_window/index.jsx
  frontend/src/components/match/index.jsx
  frontend/src/components/profile/Profile.scss
  frontend/src/components/profile/index.jsx
Labels: frontend

#108 Fix profile route/redirect
  frontend/src/App.js
  frontend/src/components/chat_window/index.jsx
  frontend/src/components/profile/index.jsx
Labels: frontend

#93 Dev edit profile menu
  frontend/src/App.js
  frontend/src/components/change_password/ChangePassword.scss
  frontend/src/components/change_password/index.jsx
  frontend/src/components/edit-profile/EditProfile.scss
  frontend/src/components/edit-profile/index.jsx
  frontend/src/components/login/index.jsx
  frontend/src/components/preferences/Preferences.scss
  frontend/src/components/preferences/index.jsx
  frontend/src/shared/components/index.jsx
  frontend/src/shared/components/modal/Modal.scss
  frontend/src/shared/components/modal/index.jsx
  frontend/src/shared/components/profile_menu/ProfileMenu.scss
  frontend/src/shared/components/profile_menu/index.jsx
  frontend/src/shared/styling/global.scss
  package-lock.json
  package.json
Labels: frontend

#112 Fix protected routes
  frontend/src/App.js
  frontend/src/components/login/index.jsx
  frontend/src/components/menu/index.jsx
  frontend/src/guard/protected_route/index.jsx
Labels: enhancement, frontend

#83 Dev edit profile
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/already_verified/index.jsx
  frontend/src/components/change_password/ChangePassword.scss
  frontend/src/components/change_password/index.jsx
  frontend/src/components/chat/index.jsx
  frontend/src/components/chat_window/index.jsx
  frontend/src/components/edit-profile/EditProfile.scss
  frontend/src/components/edit-profile/index.jsx
  frontend/src/components/home/index.jsx
  frontend/src/components/login/index.jsx
  frontend/src/components/match/Match.scss
  frontend/src/components/match/index.jsx
  frontend/src/components/menu/index.jsx
  frontend/src/components/notification/index.jsx
  frontend/src/components/preferences/Preferences.scss
  frontend/src/components/preferences/index.jsx
  frontend/src/components/register/index.jsx
  frontend/src/components/verified/index.jsx
  frontend/src/components/verify/index.jsx
  frontend/src/components/your_profile/YourProfile.scss
  frontend/src/components/your_profile/index.jsx
  frontend/src/index.js
  frontend/src/reportWebVitals.js
  frontend/src/setupTests.js
  frontend/src/shared/assets/images/enzo.png
  frontend/src/shared/assets/images/hannes.png
  frontend/src/shared/assets/images/jamil.png
  frontend/src/shared/assets/images/karin.png
  frontend/src/shared/assets/images/mehrdad.png
  frontend/src/shared/assets/images/nouman.png
  frontend/src/shared/assets/images/oskar.png
  frontend/src/shared/assets/images/simon.png
  frontend/src/shared/components/button_link/index.jsx
  frontend/src/shared/components/button_submit/index.jsx
  frontend/src/shared/components/index.jsx
  frontend/src/shared/components/input/index.jsx
  frontend/src/shared/components/input_dropdown/index.jsx
  frontend/src/shared/components/input_dropdown_multi/InputDropdownMulti.scss
  frontend/src/shared/components/input_dropdown_multi/index.jsx
  frontend/src/shared/components/input_password/index.jsx
  frontend/src/shared/components/message_error/index.jsx
  frontend/src/shared/components/modal/Modal.scss
  frontend/src/shared/components/modal/index.jsx
  frontend/src/shared/components/profile_menu/ProfileMenu.scss
  frontend/src/shared/components/profile_menu/index.jsx
  frontend/src/shared/components/showcase/Showcase.scss
  frontend/src/shared/components/slider/index.jsx
  frontend/src/shared/components/switch/index.jsx
  frontend/src/shared/components/textarea/index.jsx
  frontend/src/shared/services/preferences.js
  frontend/src/shared/styling/global.scss
  package-lock.json
  package.json
Labels: frontend

#118 Dev fix style bugs
  frontend/src/App.js
  frontend/src/components/change_password/index.jsx
  frontend/src/components/chat/index.jsx
  frontend/src/components/edit-profile/EditProfile.scss
  frontend/src/components/edit-profile/index.jsx
  frontend/src/components/home/index.jsx
  frontend/src/components/login/index.jsx
  frontend/src/components/match/Match.scss
  frontend/src/components/match/index.jsx
  frontend/src/components/menu/Menu.scss
  frontend/src/components/menu/index.jsx
  frontend/src/components/notification/index.jsx
  frontend/src/components/preferences/Preferences.scss
  frontend/src/components/preferences/index.jsx
  frontend/src/components/register/index.jsx
  frontend/src/components/your_profile/YourProfile.scss
  frontend/src/components/your_profile/index.jsx
  frontend/src/shared/components/button_link/index.jsx
  frontend/src/shared/components/input_dropdown/InputDropdown.scss
  frontend/src/shared/components/input_dropdown/index.jsx
  frontend/src/shared/components/input_dropdown_multi/InputDropdownMulti.scss
  frontend/src/shared/components/input_dropdown_multi/index.jsx
  frontend/src/shared/components/profile_data/ProfileData.scss
  frontend/src/shared/components/profile_data/index.jsx
  frontend/src/shared/components/profile_menu/ProfileMenu.scss
  frontend/src/shared/components/profile_menu/index.jsx
  frontend/src/shared/components/showcase/index.jsx
  frontend/src/shared/components/slider/index.jsx
  frontend/src/shared/components/switch/index.jsx
  frontend/src/shared/loading_components/index.jsx
  frontend/src/shared/loading_components/loading_button/LoadingButton.scss
  frontend/src/shared/loading_components/loading_button/index.jsx
  frontend/src/shared/loading_components/loading_input/LoadingInput.scss
  frontend/src/shared/loading_components/loading_input/index.jsx
  frontend/src/shared/loading_components/loading_profile_card/LoadingProfileCard.scss
  frontend/src/shared/loading_components/loading_profile_card/index.jsx
  frontend/src/shared/loading_components/loading_switch/LoadingSwitch.scss
  frontend/src/shared/loading_components/loading_switch/index.jsx
  frontend/src/shared/loading_components/loading_textarea/LoadingTextarea.scss
  frontend/src/shared/loading_components/loading_textarea/index.jsx
  frontend/src/shared/styling/_mixins.scss
  frontend/src/shared/styling/global.scss
Labels: frontend

#120 Dev timezone offset
  backend/app/Http/Controllers/JsonApiAuth/RegisterController.php
  frontend/src/components/match/index.jsx
  frontend/src/components/preferences/index.jsx
  frontend/src/components/profile/index.jsx
  frontend/src/components/register/index.jsx
  frontend/src/components/your_profile/index.jsx
  frontend/src/shared/components/profile_data/ProfileData.scss
  frontend/src/shared/components/profile_data/index.jsx
  frontend/src/shared/components/showcase/index.jsx
Labels: backend, frontend

#122 fix edit-profile page
  frontend/src/components/edit-profile/EditProfile.scss
  frontend/src/components/edit-profile/index.jsx
  frontend/src/shared/components/modal/index.jsx
  frontend/src/shared/components/profile_menu/index.jsx
Labels: frontend

#124 Dev fix positions
  frontend/src/App.js
  frontend/src/components/chat/Chat.scss
  frontend/src/components/chat/index.jsx
  frontend/src/components/edit-profile/EditProfile.scss
  frontend/src/components/edit-profile/index.jsx
  frontend/src/shared/components/modal/index.jsx
  frontend/src/shared/components/profile_menu/ProfileMenu.scss
  frontend/src/shared/styling/global.scss
Labels: frontend

#127 fix: modal close on overlay click
  frontend/src/components/edit-profile/index.jsx
  frontend/src/shared/components/modal/index.jsx
  frontend/src/shared/components/profile_menu/index.jsx
Labels: frontend
